<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="CustomerChangeNotify Plugin Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">Service</directory>
            <directory suffix=".php">Event</directory>
            <directory suffix=".php">Controller</directory>
            <directory suffix=".php">Form</directory>
            <directory suffix=".php">Entity</directory>
        </include>
        <exclude>
            <file>Plugin.php</file>
        </exclude>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit>
