services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Plugin\CustomerChangeNotify\Service\:
    resource: '../../Service'

  Plugin\CustomerChangeNotify\Controller\:
    resource: '../../Controller'
    tags: ['controller.service_arguments']

# その他明示的なサービス定義
  Plugin\CustomerChangeNotify\Repository\ConfigRepository:
    autowire: true
    tags: ['doctrine.repository_service']

  # Doctrine 配下のイベントや EventListener は明示的に定義する

  Plugin\CustomerChangeNotify\Controller\Admin\ConfigController:
    public: true
    tags: ['controller.service_arguments']

  # Doctrine EventSubscriber は EC-CUBE 4.0.3 で Segmentation fault を引き起こすため無効化
  # Plugin\CustomerChangeNotify\Event\CustomerChangeSubscriber:
  #   autowire: true
  #   autoconfigure: false
  #   tags:
  #     - { name: doctrine.event_subscriber, connection: default }

  # Symfony EventSubscriber を使用（Segmentation fault 回避）
  Plugin\CustomerChangeNotify\EventListener\CustomerEditEventListener:
    autowire: true
    autoconfigure: false
    arguments:
      $logger: '@logger'
    tags:
      - { name: kernel.event_subscriber }

  Plugin\CustomerChangeNotify\Service\DiffBuilder:
    autowire: true
    arguments:
      $watchFields: ['name01', 'name02', 'kana01', 'kana02', 'email', 'tel01', 'tel02', 'tel03', 'zip01', 'zip02', 'addr01', 'addr02']
      $fieldLabels:
        name01: '姓'
        name02: '名'
        kana01: 'セイ'
        kana02: 'メイ'
        email: 'メールアドレス'
        tel01: '電話番号（市外局番）'
        tel02: '電話番号（市内局番）'
        tel03: '電話番号（加入者番号）'
        zip01: '郵便番号（3桁）'
        zip02: '郵便番号（4桁）'
        addr01: '住所1'
        addr02: '住所2'

  Plugin\CustomerChangeNotify\Repository\ConfigRepository:
    autowire: true
    tags: ['doctrine.repository_service']
